<h1>order list</h1>
    <ol type="a">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS

            <ol>
                <li>React Js</li>
                <li>Node JS</li>
                <li>Angular Js</li>
            </ol>
        </li>
    </ol>

    <h2>unorder list</h2>

    <ul>
        <li>Java</li>
        <li>Python</li>
        <li>Dot net</li>
        <li>C#</li>
    </ul>
    <h1>Definition list/descrription list</h1>
    <dl>
        <dt>HTML</dt>
        <dd>jbdffcjsdjdsnfkjknseflkneknfe!</dd>
        <dt>CSS</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius in eveniet, maiores odit quos illo.</dd>
    </dl>
